
[submodule "themes/hugo-icarus-theme"]
	path = themes/hugo-icarus-theme
	url = https://github.com/digitalcraftsman/hugo-icarus-theme.git
[submodule "themes/pn-hugo-icarus-theme"]
	path = themes/pn-hugo-icarus-theme
	url = https://github.com/patrickn/hugo-icarus-theme.git
	branch = fix_s3_double_slash
