
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
<script src="/js/unslider.js"></script>
<link rel="stylesheet" href="/css/unslider.css">
<link rel="stylesheet" href="/css/unslider-dots.css">

<div class="fading-slider">
	<ul>
		<li>
		  <img src="/img/sldr/atlantic-coast-highway-1018x460.jpg" alt="image">
		</li>
		<li>
		  <img src="/img/sldr/laerdal-mountain-pass-1018x460.jpg" alt="image">
		</li>
		<li>
		  <img src="/img/sldr/morocco1-1018x460.jpg" alt="image">
		</li>
		<li>
		  <img src="/img/sldr/morocco2-1018x460.jpg" alt="image">
		</li>
		<li>
		  <img src="/img/sldr/stelvio-1018x460.jpg" alt="image">
		</li>
		<li>
		  <img src="/img/sldr/transfagarasan-1018x460.jpg" alt="image">
		</li>
	</ul>
</div>

<script>
		jQuery(document).ready(function($) {
			$('.fading-slider').unslider({
				autoplay: true,
				infinite: true,
				delay: 5000,
				arrows: {
				  prev: '<a class="' + self._ + '-arrow prev">Next</a>',
				  next: '<a class="' + self._ + '-arrow next">Prev</a>'
			  }
			});
		});
</script>
